In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
#modelling
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor

In [33]:
df=pd.read_csv('data/raw.csv')

In [34]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [35]:
X= df.drop(columns=['math_score'], axis=1)
Y=df['math_score']

In [40]:
numerical_features=X.select_dtypes(exclude="object").columns
categorical_features=X.select_dtypes(include="object").columns

print("{}".format(numerical_features))


numerical= [col for col in X.columns if X[col].dtype != 'O']
categorical = [col for col in X.columns if X[col].dtype == 'O']
print("{}".format(numerical))


from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", OneHotEncoder(), categorical_features),
        ("StandardScaler", StandardScaler(), numerical_features)   
    ]
)

Index(['reading_score', 'writing_score'], dtype='object')
['reading_score', 'writing_score']

In [ ]:
X.shape()
X= preprocessor.fit_transform(X)

In [ ]:
X.shape